:root {
    --red: #f44336;
    --light-red: #f77066;
    --blue: #2196f3;
    --light-blue: #51adf6;
}

/* button add */
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
}

.add-btn:hover {
    width: 170px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: seagreen;
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: seagreen;
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}






/* CRUDS */
td {
    max-width: 200px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#products_wrapper {
    width: 100%;
    margin: 30px;
}

#brands_wrapper {
    width: 75%;
    margin: 30px;
}

#categories_wrapper{
    width: 75%;
    margin: 30px;
}

#users_wrapper{
    width: 75%;
    margin: 30px;
}

.btn_td {
    
    /* width: 100vw; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* perspective: 1000px; */
    /* align-content: space-between; */
    flex-direction: column;
    
    position: relative;
    
}

.btn_td>button {
    width: 100%;
    margin-bottom: 15px;
}
.btn_td form {
    width: 100%;
    
}

form>button{
    width: 100%;
}

@media (max-width:1150px) {
    #products{
        font-size: 0.8rem;
        width: 400px;
    }
    #brands{
        font-size: 0.8rem;
        width: 100%;
    }
    #categories{
        font-size: 0.8rem;
        width: 100%;
    }
    #users{
        font-size: 0.8rem;
        width: 100%;
    }
    .btn_td button, .btn_td form {
        width: 70px !important; 
        height: 25px;
        font-size: 0.6rem;      
    }
}

@media (max-width:1165px) {
    
    .btn_td button, .btn_td form {
        width: 70px !important; 
        height: 25px;
        font-size: 0.5rem;      
    }
    #products {
        font-size: 0.7rem;
    }
    
}

