:root {
    --red: #f44336;
    --light-red: #f77066;
    --blue: #2196f3;
    --light-blue: #51adf6;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#products_wrapper {
    width: 100%;
    margin: 30px;
}

#brands_wrapper {
    width: 75%;
    margin: 30px;
}

#categories_wrapper{
    width: 75%;
    margin: 30px;
}

#users_wrapper{
    width: 75%;
    margin: 30px;
}

.btn_td {
    
    /* width: 100vw; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* perspective: 1000px; */
    /* align-content: space-between; */
    flex-direction: column;
    
    position: relative;
    
}

.btn_td>button {
    width: 100%;
    margin-bottom: 15px;
}
.btn_td form {
    width: 100%;
    
}

form>button{
    width: 100%;
}

@media (max-width:1150px) {
    #products{
        font-size: 0.8rem;
        width: 400px;
    }
    #brands{
        font-size: 0.8rem;
        width: 100%;
    }
    #categories{
        font-size: 0.8rem;
        width: 100%;
    }
    #users{
        font-size: 0.8rem;
        width: 100%;
    }
    .btn_td button, .btn_td form {
        width: 70px !important; 
        height: 25px;
        font-size: 0.6rem;      
    }
}

@media (max-width:1165px) {
    
    .btn_td button, .btn_td form {
        width: 70px !important; 
        height: 25px;
        font-size: 0.5rem;      
    }
    #products {
        font-size: 0.7rem;
    }
    
}

