a {
  text-decoration: none;
  color: black;
}

hr {
  width: 15%;
  border-top: 2px solid #9D9D9D;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.bg-main {
  background-color: #CDE4E7 !important;
}


.selected-category {
  border-bottom: 2px solid black;
}

.card-txt-category {
  color: #9D9D9D;
  font-size: 12px;
}

.card-txt-author {
  color: #9D9D9D;
  font-size: 14px;
}

.card-txt-date {
  color: #9D9D9D;
  font-size: 14px;
}

.card {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
}
.card .card-img-top {
  border-top-left-radius: calc(1.25rem - 1px);
  border-top-right-radius: calc(1.25rem - 1px);
}

.post-txt {
  color: #9D9D9D;
}

/* form update */
.form-update {
  display: flex;
  justify-content: center;
}




/* button delete item */
.btn_delete {
  background-color: transparent;
  position: relative;
  border: none;
}

.btn_delete::after {
  content: 'Quitar';
  position: absolute;
  top: -130%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: rgb(168, 7, 7);
  padding: 4px 8px;
  border-radius: 5px;
  transition: .2s linear;
  transition-delay: .2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.icon {
  transform: scale(1.2);
  transition: .2s linear;
}

.btn_delete:hover > .icon {
  transform: scale(1.5);
}

.btn_delete:hover > .icon path {
  fill: rgb(168, 7, 7);
}

.btn_delete:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}

#cart-block{
  border-radius: 13px;
  background: #f0eadb;
  box-shadow: 18px 18px 38px #8e8a81, -18px -18px 38px #ffffff;
  display: grid;
  place-items: center;
  max-width: 45px;
}

#cart-num{
  border-radius: 82px;
  /* display: flex; */
  width: 20px;
  background: #000000;
  /* box-shadow: 18px 18px 38px #8e8a81, -18px -18px 38px #ffffff; */
  height: 20px;
  display: grid;
  color: white;
  place-items: center;
  font-size: 0.7rem;
  margin-left: -7px;
}

.truncate-text{
  max-width:200px;
}

.truncate-text p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.truncate-text-content{
  
  max-width:400px;
  margin: auto;
  
}


/* Fondo imagen TIENDA */

#bg_images {
  background-image: url('/images/main/background4.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  
}

#filter_images {
  backdrop-filter: blur(5px) brightness(0.7);
}

#bg_cat {
  backdrop-filter: brightness(0.2) blur(8px);
}

#bg_cat a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

